<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered ">
      <h1 class="title">
        Welcome to My page
      </h1>
      <!-- <h2 class="subtitle">
        Primary subtitle
      </h2> -->


    </div>
  </div>
</section>

<nav class="navbar navbar-light bg-light">

    <a routerLink="/products"><button class="btn btn-outline-success">My project</button></a>

</nav>


<nav class="navbar navbar-light bg-light">

    <a routerLink="/home"><button class="btn btn-outline-success">My resume</button></a>

</nav>


