
<!-- <div class="navnar">

  <div class="navbar-brand">
     <a class="navbar-item">
       my logo
     </a>
  </div>

</div> -->

<ul>
  <li><a routerLink="/products">products</a></li>
  <li><a routerLink="/home">home</a></li>
</ul>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action=''>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-secondary" type="button">Smaller button</button>
    <!-- <route-outlet>  </route-outlet> -->
  </form>
</nav>


<div class="page-content">
<p> page content</p>
<p></p>



</div>

<router-outlet></router-outlet>


